openapi: 3.1.0
info:
  title: Givebutter Campaigns Tickets API
  version: 1.0.0
  description: 'Best-effort OpenAPI 3.1 description of the Givebutter REST API covering

    campaigns, contacts, transactions, funds, households, tickets, plans,

    payouts, pledges, webhooks, and discount codes. Authentication uses

    Bearer-token authentication with an API key. Sourced from

    https://docs.givebutter.com/.

    '
  contact:
    name: Givebutter API Docs
    url: https://docs.givebutter.com/reference/reference-getting-started
servers:
- url: https://api.givebutter.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Tickets
paths:
  /tickets:
    get:
      summary: List tickets
      operationId: listTickets
      tags:
      - Tickets
      responses:
        '200':
          description: Tickets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ticket'
  /tickets/{id}:
    parameters:
    - $ref: '#/components/parameters/IdInt'
    get:
      summary: Retrieve a ticket
      operationId: getTicket
      tags:
      - Tickets
      responses:
        '200':
          description: Ticket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
components:
  schemas:
    Ticket:
      type: object
      properties:
        id:
          type: integer
        campaign_id:
          type: integer
        type:
          type: string
        price:
          type: number
        currency:
          type: string
        status:
          type: string
  parameters:
    IdInt:
      in: path
      name: id
      required: true
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Bearer token authentication using a personal API key.
