openapi: 3.2.0
info:
  title: Givebutter API Documentation Funds API
  version: 1.0.0
  description: Givebutter Public API - Access and manage your campaigns, contacts, transactions, and more.
servers:
- url: https://api.givebutter.com/
security:
- http: []
tags:
- name: Funds
paths:
  /v1/funds:
    get:
      operationId: funds.index
      summary: List all funds
      tags:
      - Funds
      responses:
        '200':
          description: Paginated set of `FundResource`
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FundResource'
                  links:
                    type: object
                    properties:
                      first:
                        type:
                        - string
                        - 'null'
                      last:
                        type:
                        - string
                        - 'null'
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - first
                    - last
                    - prev
                    - next
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        minimum: 1
                      from:
                        type:
                        - integer
                        - 'null'
                        minimum: 1
                      last_page:
                        type: integer
                        minimum: 1
                      links:
                        type: array
                        description: Generated paginator links.
                        items:
                          type: object
                          properties:
                            url:
                              type:
                              - string
                              - 'null'
                            label:
                              type: string
                            active:
                              type: boolean
                          required:
                          - url
                          - label
                          - active
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      to:
                        type:
                        - integer
                        - 'null'
                        description: Number of the last item in the slice.
                        minimum: 1
                      total:
                        type: integer
                        description: Total number of items being paginated.
                        minimum: 0
                    required:
                    - current_page
                    - from
                    - last_page
                    - links
                    - path
                    - per_page
                    - to
                    - total
                required:
                - data
                - links
                - meta
    post:
      operationId: funds.store
      summary: Create a fund
      tags:
      - Funds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                code:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
              required:
              - name
      responses:
        '200':
          description: '`FundResource`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundResource'
        '422':
          $ref: '#/components/responses/ValidationException'
  /v1/funds/{fund}:
    get:
      operationId: funds.show
      summary: Get a fund
      tags:
      - Funds
      parameters:
      - name: fund
        in: path
        required: true
        description: The fund fid
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: '`FundResource`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundResource'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
    put:
      operationId: funds.update
      summary: Update a fund
      tags:
      - Funds
      parameters:
      - name: fund
        in: path
        required: true
        description: The fund fid
        schema:
          type:
          - string
          - 'null'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                code:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
              required:
              - name
      responses:
        '200':
          description: '`FundResource`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundResource'
        '422':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
    delete:
      operationId: funds.destroy
      summary: Delete a fund
      tags:
      - Funds
      parameters:
      - name: fund
        in: path
        required: true
        description: The fund fid
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: ''
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
components:
  responses:
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ValidationException:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Errors overview.
              errors:
                type: object
                description: A detailed description of each field that failed validation.
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - message
            - errors
  schemas:
    FundResource:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        name:
          type: string
        raised:
          type: number
        supporters:
          type: integer
        created_at:
          type: string
        updated_at:
          type: string
      required:
      - id
      - code
      - name
      - raised
      - supporters
      - created_at
      - updated_at
      title: FundResource
  securitySchemes:
    http:
      type: http
      scheme: bearer
