openapi: 3.1.0
info:
  title: Givebutter Campaign Discount Codes API
  version: 1.0.0
  description: The Campaign Discount Codes surface of the Givebutter Public API — 5 operation(s). Split by tag from
    Givebutter's own published OpenAPI at https://givebutter.com/docs/api.json (harvested 2026-09-12). Operations,
    schemas and responses are verbatim from the provider's spec.
  contact:
    name: Givebutter API Documentation
    url: https://docs.givebutter.com/api-reference/authentication
servers:
- url: https://api.givebutter.com/
security:
- http: []
tags:
- name: Campaign Discount Codes
paths:
  /v1/campaigns/{campaign}/discount-codes:
    get:
      operationId: campaigns.discount-codes.index
      summary: List all discount codes
      tags:
      - Campaign Discount Codes
      parameters:
      - name: campaign
        in: path
        required: true
        description: The campaign ID
        schema:
          type: integer
      responses:
        '200':
          description: Paginated set of `CampaignDiscountCodeResource`
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CampaignDiscountCodeResource'
                  links:
                    type: object
                    properties:
                      first:
                        type:
                        - string
                        - 'null'
                      last:
                        type:
                        - string
                        - 'null'
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - first
                    - last
                    - prev
                    - next
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        minimum: 1
                      from:
                        type:
                        - integer
                        - 'null'
                        minimum: 1
                      last_page:
                        type: integer
                        minimum: 1
                      links:
                        type: array
                        description: Generated paginator links.
                        items:
                          type: object
                          properties:
                            url:
                              type:
                              - string
                              - 'null'
                            label:
                              type: string
                            active:
                              type: boolean
                          required:
                          - url
                          - label
                          - active
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      to:
                        type:
                        - integer
                        - 'null'
                        description: Number of the last item in the slice.
                        minimum: 1
                      total:
                        type: integer
                        description: Total number of items being paginated.
                        minimum: 0
                    required:
                    - current_page
                    - from
                    - last_page
                    - links
                    - path
                    - per_page
                    - to
                    - total
                required:
                - data
                - links
                - meta
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
    post:
      operationId: campaigns.discount-codes.store
      summary: Create a discount code
      tags:
      - Campaign Discount Codes
      parameters:
      - name: campaign
        in: path
        required: true
        description: The campaign ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreCampaignDiscountCodeRequest'
      responses:
        '200':
          description: '`CampaignDiscountCodeResource`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignDiscountCodeResource'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '422':
          $ref: '#/components/responses/ValidationException'
  /v1/campaigns/{campaign}/discount-codes/{discountCode}:
    get:
      operationId: campaigns.discount-codes.show
      summary: Get a discount code
      tags:
      - Campaign Discount Codes
      parameters:
      - name: campaign
        in: path
        required: true
        description: The campaign ID
        schema:
          type: integer
      - name: discountCode
        in: path
        required: true
        description: The discount code ID
        schema:
          type: integer
      responses:
        '200':
          description: '`CampaignDiscountCodeResource`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignDiscountCodeResource'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
    put:
      operationId: campaigns.discount-codes.update
      summary: Update a discount code
      tags:
      - Campaign Discount Codes
      parameters:
      - name: campaign
        in: path
        required: true
        description: The campaign ID
        schema:
          type: integer
      - name: discountCode
        in: path
        required: true
        description: The discount code ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignDiscountCodeRequest'
      responses:
        '200':
          description: '`CampaignDiscountCodeResource`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignDiscountCodeResource'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '422':
          $ref: '#/components/responses/ValidationException'
    delete:
      operationId: campaigns.discount-codes.destroy
      summary: Delete a discount code
      tags:
      - Campaign Discount Codes
      parameters:
      - name: campaign
        in: path
        required: true
        description: The campaign ID
        schema:
          type: integer
      - name: discountCode
        in: path
        required: true
        description: The discount code ID
        schema:
          type: integer
      responses:
        '204':
          description: No content
        '422':
          description: An error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error overview.
                    example: Cannot delete a discount code that has been used. Please update its status to inactive.
                required:
                - message
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
components:
  schemas:
    CampaignDiscountCodeResource:
      type: object
      properties:
        id:
          type: string
        campaign_id:
          type: string
        items:
          type: string
        code:
          type: string
        type:
          type: string
        amount:
          type: number
        used:
          type: string
        uses:
          type: string
        active:
          type: string
        all_items:
          type: string
        total_discount:
          type: string
        starts_at:
          type: string
        expires_at:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
      required:
      - id
      - campaign_id
      - code
      - type
      - amount
      - used
      - uses
      - active
      - total_discount
      - starts_at
      - expires_at
      - created_at
      - updated_at
      title: CampaignDiscountCodeResource
    UpdateCampaignDiscountCodeRequest:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items:
            type: string
        amount:
          type: number
          minimum: 1
          maximum: 100
        type:
          $ref: '#/components/schemas/DiscountCodeType'
        active:
          type: boolean
        code:
          type: string
          maxLength: 255
        uses:
          type:
          - number
          - 'null'
          minimum: 1
        starts_at:
          type:
          - string
          - 'null'
          format: date-time
        expires_at:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - amount
      title: UpdateCampaignDiscountCodeRequest
    StoreCampaignDiscountCodeRequest:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items:
            type: string
        type:
          $ref: '#/components/schemas/DiscountCodeType'
        active:
          type: boolean
        amount:
          type: number
          minimum: 1
          maximum: 100
        code:
          type: string
          maxLength: 255
        uses:
          type:
          - number
          - 'null'
          minimum: 1
        starts_at:
          type:
          - string
          - 'null'
          format: date-time
        expires_at:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - type
      - active
      - amount
      - code
      title: StoreCampaignDiscountCodeRequest
    DiscountCodeType:
      type: string
      enum:
      - percentage
      - fixed
      title: DiscountCodeType
  responses:
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ValidationException:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Errors overview.
              errors:
                type: object
                description: A detailed description of each field that failed validation.
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - message
            - errors
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      scheme: bearer
x-source: https://givebutter.com/docs/api.json
x-harvested: '2026-09-12'
