openapi: 3.2.0
info:
  title: Givebutter API Documentation Payouts API
  version: 1.0.0
  description: Givebutter Public API - Access and manage your campaigns, contacts, transactions, and more.
servers:
- url: https://api.givebutter.com/
security:
- http: []
tags:
- name: Payouts
paths:
  /v1/payouts:
    get:
      operationId: payouts.index
      summary: List all payouts
      tags:
      - Payouts
      responses:
        '200':
          description: Paginated set of `PayoutResource`
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayoutResource'
                  links:
                    type: object
                    properties:
                      first:
                        type:
                        - string
                        - 'null'
                      last:
                        type:
                        - string
                        - 'null'
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - first
                    - last
                    - prev
                    - next
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        minimum: 1
                      from:
                        type:
                        - integer
                        - 'null'
                        minimum: 1
                      last_page:
                        type: integer
                        minimum: 1
                      links:
                        type: array
                        description: Generated paginator links.
                        items:
                          type: object
                          properties:
                            url:
                              type:
                              - string
                              - 'null'
                            label:
                              type: string
                            active:
                              type: boolean
                          required:
                          - url
                          - label
                          - active
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      to:
                        type:
                        - integer
                        - 'null'
                        description: Number of the last item in the slice.
                        minimum: 1
                      total:
                        type: integer
                        description: Total number of items being paginated.
                        minimum: 0
                    required:
                    - current_page
                    - from
                    - last_page
                    - links
                    - path
                    - per_page
                    - to
                    - total
                required:
                - data
                - links
                - meta
  /v1/payouts/{payout}:
    get:
      operationId: payouts.show
      summary: Get a payout
      tags:
      - Payouts
      parameters:
      - name: payout
        in: path
        required: true
        description: The payout number
        schema:
          type: string
      responses:
        '200':
          description: '`PayoutResource`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutResource'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
components:
  responses:
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  schemas:
    PayoutResource:
      type: object
      properties:
        id:
          type: string
        campaign_id:
          type: string
        method:
          type: string
        status:
          type: string
        amount:
          type: number
        fee:
          type: number
        tip:
          type: number
        payout:
          type: number
        currency:
          type: string
        address:
          type: string
        memo:
          type: string
        expected_at:
          type: string
        paid_at:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
      required:
      - id
      - campaign_id
      - method
      - status
      - amount
      - fee
      - tip
      - payout
      - currency
      - memo
      - expected_at
      - paid_at
      - created_at
      - updated_at
      title: PayoutResource
  securitySchemes:
    http:
      type: http
      scheme: bearer
