openapi: 3.1.0
info:
  title: Givebutter Tickets API
  version: 1.0.0
  description: The Tickets surface of the Givebutter Public API — 2 operation(s). Split by tag from Givebutter's
    own published OpenAPI at https://givebutter.com/docs/api.json (harvested 2026-09-12). Operations, schemas and
    responses are verbatim from the provider's spec.
  contact:
    name: Givebutter API Documentation
    url: https://docs.givebutter.com/api-reference/authentication
servers:
- url: https://api.givebutter.com/
security:
- http: []
tags:
- name: Tickets
paths:
  /v1/tickets:
    get:
      operationId: tickets.index
      summary: List all tickets
      tags:
      - Tickets
      responses:
        '200':
          description: Paginated set of `TicketResource`
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TicketResource'
                  links:
                    type: object
                    properties:
                      first:
                        type:
                        - string
                        - 'null'
                      last:
                        type:
                        - string
                        - 'null'
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - first
                    - last
                    - prev
                    - next
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        minimum: 1
                      from:
                        type:
                        - integer
                        - 'null'
                        minimum: 1
                      last_page:
                        type: integer
                        minimum: 1
                      links:
                        type: array
                        description: Generated paginator links.
                        items:
                          type: object
                          properties:
                            url:
                              type:
                              - string
                              - 'null'
                            label:
                              type: string
                            active:
                              type: boolean
                          required:
                          - url
                          - label
                          - active
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      to:
                        type:
                        - integer
                        - 'null'
                        description: Number of the last item in the slice.
                        minimum: 1
                      total:
                        type: integer
                        description: Total number of items being paginated.
                        minimum: 0
                    required:
                    - current_page
                    - from
                    - last_page
                    - links
                    - path
                    - per_page
                    - to
                    - total
                required:
                - data
                - links
                - meta
  /v1/tickets/{ticket}:
    get:
      operationId: tickets.show
      summary: Get a ticket
      tags:
      - Tickets
      parameters:
      - name: ticket
        in: path
        required: true
        description: The ticket uid
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: '`TicketResource`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResource'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
components:
  schemas:
    CustomFieldResponseResource:
      type: object
      properties:
        id:
          type: integer
        field_id:
          type: integer
        title:
          type: string
        description:
          type:
          - string
          - 'null'
        type:
          type: string
        value:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
      required:
      - id
      - field_id
      - title
      - description
      - type
      - value
      - created_at
      - updated_at
      title: CustomFieldResponseResource
    TicketResource:
      type: object
      properties:
        id:
          type: string
        id_suffix:
          type: string
        transaction_id:
          type: string
        name:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        phone:
          type: string
        title:
          type: string
        description:
          type: string
        price:
          type: number
        pdf:
          type: string
        checked_in_at:
          type: string
        custom_fields:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldResponseResource'
        created_at:
          type: string
        updated_at:
          type: string
        retail_price:
          type:
          - string
          - 'null'
      required:
      - id
      - id_suffix
      - transaction_id
      - name
      - first_name
      - last_name
      - email
      - phone
      - title
      - description
      - price
      - pdf
      - checked_in_at
      - custom_fields
      - created_at
      - updated_at
      - retail_price
      title: TicketResource
  responses:
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      scheme: bearer
x-source: https://givebutter.com/docs/api.json
x-harvested: '2026-09-12'
