openapi: 3.2.0
info:
  title: Givebutter API Documentation Webhook Activities API
  version: 1.0.0
  description: Givebutter Public API - Access and manage your campaigns, contacts, transactions, and more.
servers:
- url: https://api.givebutter.com/
security:
- http: []
tags:
- name: Webhook Activities
paths:
  /v1/webhooks/{webhook}/activities:
    get:
      operationId: webhooks.activities.index
      summary: List all webhook activities
      tags:
      - Webhook Activities
      parameters:
      - name: webhook
        in: path
        required: true
        description: The webhook ID
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `WebhookActivityResource`
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookActivityResource'
                  links:
                    type: object
                    properties:
                      first:
                        type:
                        - string
                        - 'null'
                      last:
                        type:
                        - string
                        - 'null'
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - first
                    - last
                    - prev
                    - next
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        minimum: 1
                      from:
                        type:
                        - integer
                        - 'null'
                        minimum: 1
                      last_page:
                        type: integer
                        minimum: 1
                      links:
                        type: array
                        description: Generated paginator links.
                        items:
                          type: object
                          properties:
                            url:
                              type:
                              - string
                              - 'null'
                            label:
                              type: string
                            active:
                              type: boolean
                          required:
                          - url
                          - label
                          - active
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      to:
                        type:
                        - integer
                        - 'null'
                        description: Number of the last item in the slice.
                        minimum: 1
                      total:
                        type: integer
                        description: Total number of items being paginated.
                        minimum: 0
                    required:
                    - current_page
                    - from
                    - last_page
                    - links
                    - path
                    - per_page
                    - to
                    - total
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
  /v1/webhooks/{webhook}/activities/{activity}:
    get:
      operationId: webhooks.activities.show
      summary: Get a webhook activity
      tags:
      - Webhook Activities
      parameters:
      - name: webhook
        in: path
        required: true
        description: The webhook ID
        schema:
          type: string
      - name: activity
        in: path
        required: true
        description: The activity ID
        schema:
          type: string
      responses:
        '200':
          description: '`WebhookActivityResource`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookActivityResource'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
components:
  responses:
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  schemas:
    WebhookActivityResource:
      type: object
      properties:
        id:
          type: string
        webhook_id:
          type: string
        status:
          type: string
        status_description:
          type: string
        event:
          type: string
        url:
          type: string
        payload:
          type: array
          items: {}
        response:
          type:
          - array
          - 'null'
          items: {}
        created_at:
          type: string
        updated_at:
          type: string
      required:
      - id
      - webhook_id
      - status
      - status_description
      - event
      - url
      - payload
      - response
      - created_at
      - updated_at
      title: WebhookActivityResource
  securitySchemes:
    http:
      type: http
      scheme: bearer
