openapi: 3.1.0
info:
  title: Givebutter Campaigns Plans API
  version: 1.0.0
  description: 'Best-effort OpenAPI 3.1 description of the Givebutter REST API covering

    campaigns, contacts, transactions, funds, households, tickets, plans,

    payouts, pledges, webhooks, and discount codes. Authentication uses

    Bearer-token authentication with an API key. Sourced from

    https://docs.givebutter.com/.

    '
  contact:
    name: Givebutter API Docs
    url: https://docs.givebutter.com/reference/reference-getting-started
servers:
- url: https://api.givebutter.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Plans
paths:
  /plans:
    get:
      summary: List recurring plans
      operationId: listPlans
      tags:
      - Plans
      responses:
        '200':
          description: Plans
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plan'
components:
  schemas:
    Plan:
      type: object
      properties:
        id:
          type: integer
        amount:
          type: number
        currency:
          type: string
        frequency:
          type: string
          enum:
          - monthly
          - quarterly
          - yearly
        status:
          type: string
        contact_id:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Bearer token authentication using a personal API key.
